<?xml version="1.0"?>
<config>
    <modules>
        <Apj_PpcCallTracker>
            <version>1.0.0</version>
        </Apj_PpcCallTracker>
    </modules>
	<global>
		<helpers>
			<ppccalltracker>
				<class>Apj_PpcCallTracker_Helper</class>
			</ppccalltracker>
		</helpers>
         <blocks>
            <ppccalltracker>
                <class>Apj_PpcCallTracker_Block</class>        
            </ppccalltracker>
         </blocks>       
        <models>
            <ppccalltracker>
                <class>Apj_PpcCallTracker_Model</class>        
            </ppccalltracker>
			<ppc>
				<class>Apj_PpcCallTracker_Model</class>        
			</ppc>
         </models>		
	</global>
    <frontend>
        <layout>
            <updates>
                <ppccalltracker>
                    <file>ppccalltracker.xml</file>
                </ppccalltracker>
            </updates>
        </layout>
<!--         <events>
	         <core_block_abstract_to_html_after>
	             <observers>
	                 <ppccalltracker>
	                         <type>singleton</type>
	                         <class>ppccalltracker/observer</class>
	                         <method>addPPCPhoneHtml</method>
	                 </ppccalltracker>
	             </observers>
	         </core_block_abstract_to_html_after>
         </events>-->
	</frontend>	 
	<adminhtml>
	   <acl>
		  <resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<ppccalltracker_options translate="title" module="ppccalltracker">
											<title>Pay Per Click (PPC) Call Tracker</title>
										</ppccalltracker_options>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
     </adminhtml>		
</config>